<div id="fh5co-started">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Tham gia UET Code Camp</h2>
                <p>Khám phá công nghệ mới, thu lượm kĩ năng về phát triển phầm mềm, tại sao không?</p>
                <p><a href="https://goo.gl/forms/qkMgOxnjcYPsg5qu1" class="btn btn-default btn-lg">Đăng kí ngay</a></p>
            </div>
        </div>
    </div>
</div>

<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h4>UET Code Camp</h4>
                <p>Trau dồi khả năng lập trình & làm ứng dụng thực tế.</p>
                <p>Kết nối đam mê - Cùng phê với code!</p>
            </div>
            <div class="col-md-2 col-md-push-1 fh5co-widget">
                <h4>Đường dẫn</h4>
                <ul class="fh5co-footer-links">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="road-map.html">Lộ trình</a></li>
                    <li><a href="about.html">Về chúng tôi</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-md-push-1 fh5co-widget">
                <h4>Chuyên mục</h4>
                <ul class="fh5co-footer-links">
                    <li><a>Phát triển web</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-md-push-1 fh5co-widget">
                <h4>Liên lạc</h4>
                <ul class="fh5co-footer-links">
                    <!--<li>Thư viện hội sinh viên, <br> Đại học Công Nghệ - ĐHQGHN</li>-->
                    <!--<li><a href="tel://1234567920">+ 1235 2355 98</a></li>-->
                    <li><a href="mailto:uetcodecamp@gmail.com">uetcodecamp@gmail.com</a></li>
                </ul>
            </div>

        </div>

        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2018 UET Code Camp</small>
                    <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
                    </small>
                </p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="https://fb.com/uetcodecamp" target="_blank"><i class="icon-facebook2"></i></a></li>
                    <li><a href="https://github.com/uetcodecamp" target="_blank"><i class="icon-github2"></i></a>
                    </li>
                </ul>
                </p>
            </div>
        </div>

    </div>
</footer>