<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UET Code Camp - Kết nối đam mê, cùng phê với code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co"/>
    <meta name="keywords" content="codecamp, uetcodecamp, programing, code, uet, vnu"/>

    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="./images/logo.ico">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="UET Code Camp - Kết nối đam mê, cùng phê với code"/>
    <meta property="og:image" content="https://uetcodecamp.github.io/images/banner.png"/>
    <meta property="og:url" content="https://uetcodecamp.github.io"/>
    <meta property="og:site_name" content="UET Code Camp"/>
    <meta property="og:description" content="Tham gia UET Code Camp để trau dồi khả năng lập trình & làm ứng dụng thực tế"/>
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="UET Code Camp - Kết nối đam mê, cùng phê với code"/>
    <meta name="twitter:image" content="https://uetcodecamp.github.io/images/banner.png"/>
    <meta name="twitter:url" content="https://uetcodecamp.github.io"/>

    <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">	 -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>